html, body {
        margin: 0; 
        padding: 0;
}


.headerPoke{
        background-color: rgb(245, 245, 220);
        top: 0px;
        width: 1349px;
        height: -50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 35px;
	text-align: center;
	display: flex;
}

.name {
	padding-left: 15px;
	color: #000000;
	text-decoration: none;

}

.imgHeader{
        padding-top: 36px;
        padding-left: 2px;
	width:80px;
	height:80px;
}

.mainDiv{
        background-color: rgb(24, 23, 23, 0.9);
        text-align: center;
        width: 1000px;
        height: 350px;
        margin-left: 175px;
}

.mainDivInm{
        background-color: rgb(24, 23, 23, 0.9);
        text-align: center;
        width: 1000px;
        height: 200px;
        margin-left: 175px;
}

.tituloMain{
        color: beige;
        font-family: 'Roboto' , sans-serif;
}

.ancla{
        padding-top: 25px;
        padding-left: 40px;
        display: flex;
        text-decoration: none;
}

.ancla:hover {
	color: black; 
	text-decoration: none 
}

.ancla:visited {
	color: black;
	text-decoration: none 
}

.anclaSocial{
        color: #000000;
        text-decoration: none;
}

.anclaSocial:hover {
	color: black; 
	text-decoration: none 
}

.anclaSocial:visited {
	color: black;
	text-decoration: none 
}

.social{
        padding-left: 900px;
        padding-top: 100px;
        weight: 25px;
        height: 25px;
}

.footerPoke{
        background-color: rgb(245, 245, 220);
	font-size: 25px;
        height: 100px;
        width: 1349px;
        margin-top: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footerImg {
        padding-right: 5px;
        width: 30px;
        height: 30px;
}

.anclaType:hover {
	color: currentColor; 
	text-decoration: none 
}

.anclaType:visited {
	color:currentColor;
	text-decoration: none 
}

.anclaType{
        text-decoration: none;
        color: currentColor;
}

.anclaNext:hover {
	color: currentColor; 
	text-decoration: none 
}

.anclaNext:visited {
	color:currentColor;
	text-decoration: none 
}

.anclaNext{
        text-decoration: none;
        color: black;
        padding-left: 1100px;
        
}

